<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree Planner</title>
    <style>
        body /* background stuff */
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            background: linear-gradient(135deg, hwb(34 42% 33%), #648cc4); /* Gradient background */
        }

        .container /* holds all content */
        {
            display: auto;
            
            overflow: hidden;
            width: 100%;
        }

        .sidebar /* sidebar main */
        {
            width: 25%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            overflow-y: auto;
            background-color: rgba(0, 0, 0, 0.731); 
            display: auto;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 0%;
            border: 5px solid #605b5b00;
            border-radius: 10px;
        }

        .card
        {
            width: 80%;
            height: 3
        }

        .sidebar input[type="text"] /* input text box */
        {
            width: 90%;
            margin: 10px;
            padding: 5px;
            background-color: rgb(0, 0, 0); 
            border: 1px solid #111111;
            border-radius: 4px;
        }

        .main /* holds the years */
        {
            display: flex;
            flex: 1;
            padding: 3%;
            overflow-x: auto;
            gap: 20px;
        }

        .year /* the years */
        {
            width: fit-content;
            height: fit-content;
            background-color: rgba(0, 0, 0, 0.731); 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            border: 5px solid #605b5b00;
            border-radius: 9px;
            padding: 10px;
        }

        .year h3 /* But it's not h3 don't be fooled */
        {
            text-align: center;
            display: auto;
            margin: 5px 5px;
            background-color: #727eed75;
            padding-right: 6px;
            border: 5px solid #605b5b00;
            border-radius: 9px;
            color: #fff;
        }

        .semester 
        {
            display: auto;
            padding: 10px;
            margin: 5px;
            border: 1px solid #111111;
            border-radius: 4px;
            background-color: #111111;
            min-height: 100px; /* Ensures visible empty boxes */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
        }

        .semester p
        {
            display: auto;
            margin-top: 0px;
            text-align: center;
            color: #c5c5c5;
        }

        .footer 
        {
            height: 15%;
            background-color: #605b5bb3;
            padding: 10px;
        }
    </style>

    {{!-- Handlebars Scripting --}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    {{!-- Custom Scripting --}}
    {{!
    <script src="CUDegreePlanner\ProjectSourceCode\src\resources\js\script.js"></script>}}
    
    {{! Displays class info when a class card is clicked}}
    <script>
        function displayclassInfo(id){
            document.getElementById().innerHTML;
        }
    </script>

    {{!-- Search & Prereq Functions Below --}}

    <script>
        function searchForCourse(classcode) // Happens when a course is searched for in the bar. Prompt user for no spaces because we have it set as 'ABCD1234'
        {
            document.getElementsByID(classcode).innerHTML; 
        }
    </script>

    <script>
        function getCoursePreReqs(course)
        {
            document.getElementsByName(course).entries; // Nick I have no fucking clue what I'm doing
        }
    </script>

    <script>
        function createFooterDescription(classcode, name, description, prerecs){
            document.getElementById("footer-class-title").innerHTML = name;
            document.getElementById("footer-class-code").innerHTML = classcode;
            document.getElementById("footer-class-description").innerHTML = description;
        }
    </script>

    {{! Handles moving cards programatically}}
    <script>
        function moveClassCard(classid, targetid){
            var card = document.getElementById(classid);
            document.getElementById(targetid).append(card);
        }

        function setupTemplate(){
            moveClassCard("CSCI1300", "Year 1_Fall");
            moveClassCard("CSCI1200", "Year 1_Fall");
            moveClassCard("MATH1300", "Year 1_Fall");
            moveClassCard("PHYS1110", "Year 1_Fall");
        }
    </script>

    {{! Logic for checking pre-recs
    So, the reason this is challenging is there are three scenarios:
    1. 
    }}
    <script>
        function checkPrerecs(classid){
            var card = document.getElementById(classid);
            var prerecs = document.getElementById(classid + "_prerecs");
            var current_table = card.parentElement()
            console.log(prerecs);
            if (prerecs != null) {
                var year = parseInt(current_table.id().charAt(5));
                var semester = current_table.id().charAt(7);
                
                var prerecs_parsed = prerecs.innerHTML.split(",");
                var satisfied = new Array(prerecs_parsed.length);

                for (i = 1; i <= year; i++){
                    var check_year_fall = document.getElementById("Year " + i + "_Fall")
                    for (j = 0; j < check_year_fall.childElementCount; j++) {
                        var check_card = check_year_fall.children.item(j).children.item(0).children(0).children(0).item;
                        var check_countsfor = document.getElementById(check_card.id + "_countsfor");
                        if (check_countsfor != null) {
                            for (k = 0; k < prerecs_parsed.length(); k++){
                                if (check_countsfor.innerHTML == prerecs_parsed[k]){
                                    satisfied[k] = true;
                                }
                            }
                        }
                    }
                    if (semester == "S"){
                        var check_year_fall = document.getElementById("Year " + year + "_Fall")
                        for (j = 0; j < check_year_fall.childElementCount; j++) {
                            var check_card = check_year_fall.children.item(j).children.item(0).children(0).children(0).item;
                            var check_countsfor = document.getElementById(check_card.id + "_countsfor");
                            if (check_countsfor != null) {
                                for (k = 0; k < prerecs_parsed.length(); k++){
                                    if (check_countsfor.innerHTML == prerecs_parsed[k]){
                                        satisfied[k] = true;
                                    }
                                }
                            }
                        }
                    }
                    var check_year_spring = document.getElementById("Year " + i + "_Spring")
                    for (j = 0; j < check_year_spring.childElementCount; j++){
                        var check_card = check_year_spring.children.item(j).children.item(0).children(0).children(0).item;
                        var check_countsfor = document.getElementById(check_card.id + "_countsfor");
                        if (check_countsfor != null) {
                            for (k = 0; k < prerecs_parsed.length(); k++){
                                if (check_countsfor.innerHTML == prerecs_parsed[k]){
                                    satisfied[k] = true;
                                }
                            }
                        }
                    }
                }

                if (satisfied.every(Boolean)) {
                    prerecs.innerHTML.color = "green";
                    console.log("satisfired")
                } else {
                    prerecs.innerHTML.color = "red";
                }
        }
    }

    function checkAllCourses(){
        for (i = 1; i < 5; i++){
            var falls = document.getElementById("Year " + i + "_Fall");
            for (j = 0; j < falls.childElementCount; j++){
                var card = falls.children.item(j);
                checkPrerecs(card.id);
            }
            var springs = document.getElementById("Year " + i + "_Spring");
            for (j = 0; j < springs.childElementCount; j++){
                var card = springs.children[j];
                checkPrerecs(card.id);
            }
        }
    }
    </script>


    {{!-- Jquery Scripting --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
</head>
<body onload="setupTemplate()">
    <!-- Sidebar -->
        <!-- Main Content -->
    <div class="main">
        <div class="sidebar">
            <div class="col-md">
                <input type="text" placeholder="Search..." id="course_search" onsubmit="searchForCourse()">
                <div id="initial-courses">
                    <ul id="course_search_results" class="connectedSortable">
                        {{#each all_courses}}
                            <li>
                                <div id="{{classcode}}" class="card" draggable="true" ondragstart="drag(event)" onclick="createFooterDescription('{{classcode}}','{{name}}','{{description}}')" ondrop="checkAllCourses()">
                                    <div class="card-body">
                                        <h6 class="card-title">{{name}}</h6>
                                        <p class="card-text">{{classcode}}</p>
                                        {{#if prerecs}}
                                            <p id="{{classcode}}_required">Requires {{prerecs}}</p>
                                        {{/if}}
                                        {{#if countsfor}}
                                            <p id="{{classcode}}_countsfor"> Counts for {{countsfor}}</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>  
            </div>
        </div>
            {{#each years}}
            <div class="year">
                <h3>{{this.name}}</h3>
                <div class="semester">
                    <h6>Fall</h6>
                    <ul id="{{this.name}}_Fall" class="connectedSortable"  >
                        <li>
                           Drag and drop items here!
                        </li>
                    </ul>
                </div>
                <div class="semester">
                    <h6>Spring</h6>
                    <ul id="{{this.name}}_Spring" class="connectedSortable">
                        <li>
                            Drag and drop items here!
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" id="footer-box">
        <div class="card">
            <h4 id="footer-class-title">No class selected.</h4>
            <p id="footer-class-code"></p>
            <p id="footer-class-description"></p>
        </div>
    </div>
</body>

</html>