<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree Planner</title>
    <style>
        body /* background stuff */
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            background: linear-gradient(135deg, hwb(34 42% 33%), #648cc4); /* Gradient background */
        }

        .container /* holds all content */
        {
            display: auto;
            
            overflow: hidden;
            width: 100%;
        }

        .sidebar /* sidebar main */
        {
            width: 25%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            overflow-y: auto;
            background-color: rgba(0, 0, 0, 0.731); 
            display: flex;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 0%;
            border: 5px solid #605b5b00;
            border-radius: 10px;
        }

        .card
        {
            width: 80%;
            height: 3
        }

        .sidebar input[type="text"] /* input text box */
        {
            width: 90%;
            margin: 10px;
            padding: 5px;
            background-color: rgb(0, 0, 0); 
            border: 1px solid #111111;
            border-radius: 4px;
        }

        .main /* holds the years */
        {
            display: flex;
            flex: 1;
            padding: 3%;
            overflow-x: auto;
            gap: 20px;
        }

        .year /* the years */
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.731); 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            border: 5px solid #605b5b00;
            border-radius: 9px;
            padding: 5px;
        }

        .year h3 
        {
            text-align: center;
            margin: 5px 5px;
            background-color: #727eed75;
            padding-right: 6px;
            border: 5px solid #605b5b00;
            border-radius: 9px;
            color: #fff;
        }

        .semester 
        {
            flex: 1;
            padding: 10px;
            margin: 5px;
            border: 1px solid #111111;
            border-radius: 4px;
            background-color: #111111;
            min-height: 100px; /* Ensures visible empty boxes */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
        }

        .semester p
        {
            margin-top: 0px;
            text-align: center;
            color: #c5c5c5;
        }

        .footer 
        {
            height: 15%;
            background-color: #605b5bb3;
            padding: 10px;
        }
    </style>

    {{!-- Handlebars Scripting --}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    {{!-- Custom Scripting --}}
    {{!
    <script src="CUDegreePlanner\ProjectSourceCode\src\resources\js\script.js"></script>}}
    
    {{! Displays class info when a class card is clicked}}
    <script>
        function displayclassInfo(id){
            document.getElementById().innerHTML;
        }
    </script>

    {{!-- Search & Prereq Functions Below --}}

    <script>
        function searchForCourse(classcode) // Happens when a course is searched for in the bar. Prompt user for no spaces because we have it set as 'ABCD1234'
        {
            document.getElementsByID(classcode).innerHTML; 
        }
    </script>

    <script>
        function getCoursePreReqs(course)
        {
            document.getElementsByName(course).entries; // Nick I have no fucking clue what I'm doing
        }
    </script>

    <script>
        function createFooterDescription(classcode, name, description){
            document.getElementById("footer-class-title").innerHTML = name;
            document.getElementById("footer-class-code").innerHTML = classcode;
            document.getElementById("footer-class-description").innerHTML = description;
        }
    </script>

    <script>
        function moveClassCard(classid, targetid){
            var card = document.getElementById(classid);
            console.log(card);
            document.getElementById(targetid).append(card);
        }

        function setupTemplate(){
            moveClassCard("CSCI1300", "Year 1_Fall");
            console.log("test")
        }
    </script>


    {{!-- Jquery Scripting --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
</head>
<body onload="setupTemplate()">
    <!-- Sidebar -->
        <!-- Main Content -->
    <div class="main">
        <div class="sidebar">
            <div class="col-md">
                <input type="text" placeholder="Search..." id="course_search" onsubmit="searchForCourse()">
                <div id="initial-courses">
                    <ul id="course_search_results" class="connectedSortable">
                        {{#each all_courses}}
                            <li>
                                <div class="row">
                                    <div id="{{classcode}}" class="card" draggable="true" ondragstart="drag(event)" onclick="createFooterDescription('{{classcode}}','{{name}}','{{description}}')">
                                        <div class="card-body">
                                            <h6 class="card-title">{{name}}</h6>
                                            <p class="card-text">{{classcode}}</p>
                                            {{#if prerecs}}
                                                <p id="{{prerecs}}_required">Requires {{prerecs}}</p>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>  
            </div>
        </div>
            {{#each years}}
            <div class="year">
                <h3>{{this.name}}</h3>
                <div class="semester">
                    <p>Fall</p>
                    <ul id="{{this.name}}_Fall" class="connectedSortable">
                        <li></li>
                    </ul>
                </div>
                <div class="semester">
                    <p>Spring</p>
                    <ul id="{{this.name}}_Spring" class="connectedSortable">
                        <li></li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" id="footer-box">
        <div class="card">
            <h1 id="footer-class-title">No class selected.</h1>
            <p id="footer-class-code"></p>
            <p id="footer-class-description"></p>
        </div>
    </div>
</body>

</html>