<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree Planner</title>
    <style>
        body /* background stuff */
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background: linear-gradient(135deg, rgb(171, 143, 107), #648cc4); /* Gradient background */
        }

        .container /* holds all content */
        {
            display: auto;
            overflow: hidden;
            height: fit-content;
        }

        .sidebar /* sidebar main */
        {
            width: max-content;
            height: 100%; /* changes the heihht of the sidebar, very broken*/
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            background-color: rgba(0, 0, 0, 0.731); 
            overflow-y: auto;
            display: auto;
            border: 5px solid #605b5b00;
            border-radius: 10px;
        }

        .card
        {
            width: 90%;
            height: fit-content;
            background-color: #cfc08dba;
        }

        .sidebar input[type="text"] /* input text box */
        {
            background-color: rgb(0, 0, 0); 
            border: 1px solid #111111;
            border-radius: 4px;
            width: 84%;
            margin-left: 7%;
            margin-bottom: 1%;
        }

        .main /* holds the years */
        {
            display: flex;
            flex: 1;
            padding: 1%;
            overflow-x: auto;
            gap: 20px;
        }

        .year /* the years */
        {
            width: fit-content;
            height: min-content;
            background-color: rgba(0, 0, 0, 0.731); 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            border: 5px solid #605b5b00;
            border-radius: 9px;
            padding: 5px;
        }

        .year h3 /* But it's not h3 don't be fooled */
        {
            text-align: center;
            display: auto;
            margin: 5px 5px;
            background-color: #727eed75;
            padding-right: 6px;
            border: 5px solid #605b5b00;
            border-radius: 9px;
            color: #fff;
        }

        .semester 
        {
            display: auto;
            padding: 10px;
            margin: 5px;
            border: 1px solid #111111;
            border-radius: 4px;
            background-color: #111111;
            min-height: 200px; /* Ensures visible empty boxes */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            color: #648cc47f;
        }

        .semester p
        {
            display: auto;
            margin-top: 0px;
            text-align: left;
            color: #000000;
            font-weight: bolder;
        }

        .semester ul 
        {
            list-style-type: none; /* Removes the bullet points */
            padding-left: 0; /* Removes the default padding on the left */
            margin-top: 10px; /* Adds spacing between the list and the top of the box */
        }

        .semester li 
        {
            text-align: left;  /* Aligns the text to the left */
            margin: 0;  /* Ensures there is no extra margin on the list item */
            padding: 5px 10px; /* Optional: Adds some padding inside the list item */
        }

        .footer 
        { 
            background-color: #605b5bb3;
            padding: 10px;
            margin-bottom: 0%;
        }
    </style>

    {{!-- Handlebars Scripting --}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    {{!-- Custom Scripting --}}
    {{!
    <script src="CUDegreePlanner\ProjectSourceCode\src\resources\js\script.js"></script>}}
    
    {{! Displays class info when a class card is clicked}}
    <script>
        function displayclassInfo(id){
            document.getElementById().innerHTML;
        }
    </script>

    {{!-- Search & Prereq Functions Below --}}

    <script>
        function searchForCourse(classcode) // Happens when a course is searched for in the bar. Prompt user for no spaces because we have it set as 'ABCD1234'
        {
            document.getElementsByID(classcode).innerHTML; 
        }
    </script>

    <script>
        function getCoursePreReqs(course)
        {
            document.getElementsByName(course).entries; // Nick I have no fucking clue what I'm doing
        }
    </script>

    <script>
        function createFooterDescription(classcode, name, description, prerecs){
            document.getElementById("footer-class-title").innerHTML = name;
            document.getElementById("footer-class-code").innerHTML = classcode;
            document.getElementById("footer-class-description").innerHTML = description;
        }
    </script>


    {{!-- Jquery Scripting --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
</head>
<body>
    <!-- Sidebar -->
    <!-- Main Content -->
    <div class="main">
        <div class="sidebar">
            <input type="text" placeholder="Search..." id="course_search" onsubmit="searchForCourse()">
            <div id="initial-courses">
                <ul id="course_search_results" class="connectedSortable">
                    {{#each all_courses}}
                        <li>
                            <div id="{{classcode}}" class="card" draggable="true" ondragstart="drag(event)" onclick="createFooterDescription('{{classcode}}','{{name}}','{{description}}')">
                                <div class="card-body">
                                    <h6 class="card-title">{{name}}</h6>
                                    <p class="card-text">{{classcode}}</p>
                                    {{#if prerecs}}
                                        <p id="{{prerecs}}_required">Requires {{prerecs}} Credit(s)</p>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>  
        </div>
            {{#each years}}
            <div class="year">
                <h3>{{this.name}}</h3>
                <div class="semester">
                    <h6>Fall</h6>
                    <ul id="{{this.name}}_Fall" class="connectedSortable"  >
                        <li>
                           Drag and drop items here!
                        </li>
                    </ul>
                </div>
                <div class="semester">
                    <h6>Spring</h6>
                    <ul id="{{this.name}}_Spring" class="connectedSortable">
                        <li>
                            Drag and drop items here!
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" id="footer-box">
        <h4 id="footer-class-title">No class selected.</h4>
        <p id="footer-class-code"></p>
        <p id="footer-class-description"></p>
    </div>
</body>

</html>