<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree Planner</title>
    <style>
        body /* background stuff */
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background: linear-gradient(135deg, rgb(171, 143, 107), #648cc4); /* Gradient background */
        }

        .container /* holds all content */
        {
            display: auto;
            overflow: hidden;
            height: fit-content;
        }

        .card
        {
            width: 90%;
            height: fit-content;
            background-color: #cfc08dba;
        }

        .sidebar /* sidebar main */
        {
            width: 30%;
            height: 100%; /* changes the heihht of the sidebar, very broken*/
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            background-color: rgba(0, 0, 0, 0.731); 
            overflow-y: auto;
            display: auto;
            border: 5px solid #605b5b00;
            border-radius: 5px;
        }

        /* Flexbox for input and button container */
        .sidebar .search-container 
        {
            display: flex;                /* Align children horizontally */
            align-items: center;          /* Vertically center the input and button */
            margin: 2% 7%;                /* Adjust the margin for better spacing */
        }

        .sidebar input[type="text"] /* input text box */
        {
            background-color: rgb(0,0,0); 
            border: 1px solid #111111;
            border-radius: 4px;
            width: 85%;                  /* Take up most of the width */
            color: #929292;
        }

        .button
        {
            width: fit-content;                  /* Set the width of the button */
            height: 100%;                /* Ensure button matches the input's height */
            color: #ffffffba;
            background-color: #727eed75;
            border: 1px solid #111111;
            border-radius: 4px;
            margin-left: 10px;           /* Add space between the button and input */
        }

        .main 
        {
            display: flex;
            flex-direction: row; /* horizontal layout */
            overflow: hidden;
            height: 100vh; /* Full height */
            width: 100%;
            padding: 20px;
            gap: 20px;
        }

        .year 
        {
            height: 100%;
            width: max-content; /* Fixed width for each year block */
            min-width: 18%;
            background-color: rgba(0, 0, 0, 0.731); 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            border: 5px solid #605b5b00;
            border-radius: 9px;
            padding: 5px;
            margin-bottom: 15px;
            overflow-y: auto; /* Allow vertical scrolling within the year */
        }

        .year h3 /* But it's not h3 don't be fooled */
        {
            text-align: center;
            display: auto;
            margin: 5px 5px;
            background-color: #727eed75;
            padding-right: 6px;
            border: 5px solid #605b5b00;
            border-radius: 9px;
            color: #fff;
        }

        .semester 
        {
            display: auto;
            padding: 10px;
            margin-bottom: 30px;
            border: 1px solid #111111;
            border-radius: 4px;
            background-color: #111111;
            min-height: 40%; /* Ensures visible empty boxes */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            color: #648cc47f;
        }

        .semester p
        {
            display: auto;
            margin-top: 0px;
            text-align: left;
            color: #000000;
            font-weight: bolder;
        }

        .semester ul 
        {
            list-style-type: none; /* Removes . in the list */
            padding-left: 0; /* pad to the left */
            margin-top: 10px;
        }
        .button
        {
            width: 75px;
            height: 25px;
        }

        .semester li 
        {
            text-align: left;  /* text to the left */
            margin: 0;  
            padding: 5px 10px; /* list item padding */
        }

        .footer 
        { 
            background-color: #605b5bb3;
            padding: 5px;
            overflow: visible;
            margin-bottom: 0%;
        }

        ::-webkit-scrollbar 
        {
            width: 12px;  /* Width of the scrollbar */
            height: 12px; /* Height for horizontal scrollbar */
        }

        ::-webkit-scrollbar-thumb /* draggable thing */
        {
            background: #111;  /* Thumb color */
        }

        ::-webkit-scrollbar-track /* where the thing slides in */
        {
            background: #1a1a1a7a;    /* Track color */
            border-radius: 6px;
        }
    </style>

    <!-- Handlebars Scripting -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Custom Scripting -->
    {{!-- 
    <script src="CUDegreePlanner\ProjectSourceCode\src\resources\js\script.js"></script>
    --}}

    {{!-- Displays class info when a class card is clicked --}}
    <script>
        function displayclassInfo(id){
            document.getElementById().innerHTML;
        }
    </script>

    {{!-- Search & Prereq Functions Below --}}
    <script>
        function createFooterDescription(classcode, name, description, prerecs){
            document.getElementById("footer-class-title").innerHTML = name;
            document.getElementById("footer-class-code").innerHTML = classcode;
            document.getElementById("footer-class-description").innerHTML = description;
        }
    </script>


    {{!-- Jquery Scripting --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>

    <script>
        function searchForCourses()
        {
            var searched_value = document.getElementById('search_bar').value;
            var courses = document.getElementById('course_search_results');

            //alert(courses.children.item(1).children.item(0).id);
            //alert(courses.children.item(1).children.item(0).children.item(0).children.item(0).id);

            for(let i = 0; i < courses.children.length; i++){

                if(searched_value == "" ) // Bad inputs NOT handled yet
                {
                    for(let i = 0; i < courses.children.length; i++)
                    {
                        courses.children.item(i).style.display = "block";
                    }
                    
                    return;
                }
               
                var course = courses.children.item(i).children.item(0).id;
                var course_title = courses.children.item(i).children.item(0).children.item(0).children.item(0).id;

                //alert(course_title.innerHTML);

                if(searched_value == course_title || searched_value == course)
                {
                    courses.children.item(i).style.display = "block";

                }

                else
                {
                    //hide 
                    courses.children.item(i).style.display = "none";
                }
            }
        }
    </script>

</head>
<body>
    <!-- Sidebar -->
    <div class="main">
        <div class="sidebar">
            <div class="col-md">
                <div id="initial-courses">
                    <div class="search-container">
                        <!-- Input box for searching courses -->
                        <input id="search_bar" placeholder="Search for a course..." type="text">
                        <!-- Search button next to the input -->
                        <button id="search_button" class="button" onclick="searchForCourses()"> Search </button>
                    </div>
                    <ul id="course_search_results" class="connectedSortable">
                        {{#each all_courses}}
                            <li id="{{classcode}}_listentry">
                                <div id="{{classcode}}" class="card" draggable="true" ondragstart="drag(event)" onclick="createFooterDescription('{{classcode}}','{{name}}','{{description}}')">
                                    <div id="{{classcode}}_body" class="card-body">
                                        <h6 id="{{name}}" class="card-title">{{name}}</h6>
                                        <p class="card-text">{{classcode}}</p>
                                        {{#if prerecs}}
                                            <p id="{{prerecs}}_required">Requires {{prerecs}}</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>  
            </div>
        </div>
        {{#each years}}
            <div class="year">
                <h3>{{this.name}}</h3>
                <div class="semester">
                    <h6>Fall</h6>
                    <ul id="{{this.name}}_Fall" class="connectedSortable">
                        <li>Drag and drop items here!</li>
                    </ul>
                </div>
                <div class="semester">
                    <h6>Spring</h6>
                    <ul id="{{this.name}}_Spring" class="connectedSortable">
                        <li>Drag and drop items here!</li>
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>

    <!-- Footer -->
    <div class="footer">
        <h4 id="footer-class-title">No class selected.</h4>
        <p id="footer-class-code"></p>  
        <p id="footer-class-description"></p> 
    </div>
</body>
</html>
